a {
    text-decoration: none;
    color: gray;
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    color: #444444;
}
a:hover {
    color: #E784d8;
}

button {
    background-color: #A16AE8;
    font-size: .8em;
    border: 0;
    text-transform: uppercase;
    line-height: 1em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    font-weight: 700;
    padding: .5em 1em .5em 1em;
    border-radius: 3px;
    color: white;
    transition: all .3s;
    width: auto;
    margin-top: 10px;
}
button:hover {
    background-color: #E784d8;
    transform: scale(1.1);
    color: #222222;
}
.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
}
.logo img {
    max-width: 125px;
}
.logo {
    text-align: center;
}
.large_nav {
    display: none;
}
.large_nav a {
    margin: 10px;
}
.bar {
    width: 35px;
    background-color: #A16AE8;
    height: 3px;
    margin: .1em;
}
.hamburger>.small_nav {
    display: none;
}
.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hamburger a {
    text-decoration: none;
    color: #222222;
    margin-bottom: 2px;
    margin-top: 1em;
}
.hamburger a:hover {
    color: #E784d8;
}
.promo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-content: center;
    margin-top: 40px;

}

#slide {
    max-width: 100%;
}
.left_box {
    display: grid;
    justify-self: start;
}
.left_side {
    display: grid;
    justify-items: center;
    align-content: start;

}
.left_side p {
    max-width: 15em;
}
.galleries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    margin-top: 2em;
}
.j_button {
    display: grid;
    justify-self: center;
}
.galleries  img {
    width: 100%;
}
.bio {
    margin: 10px;
}
.dedication {display: flex;
    font-size: .5em;
}
.dedication img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    max-width: 80px;

}
.footer {
    margin-top: 3em;
    margin-bottom: 3em;
}
.footer_logo {
    max-width: 80px;
}
@media screen and (min-width: 687px) {
    .hamburger {
        display: none;
    }
    .large_nav {
        display: block;
    }
}
#slides {
    display: none;
}