a {
  text-decoration: none;
  color: gray;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  color: #444444;
}
a:hover {
  color: #e784d8;
}

button {
  background-color: #a16ae8;
  font-size: 0.8em;
  border: 0;
  text-transform: uppercase;
  line-height: 1em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  font-weight: 700;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 3px;
  color: white;
  transition: all 0.3s;
  width: auto;
  margin-top: 10px;
  max-height: 2em;
}
button:hover {
  background-color: #e784d8;
  transform: scale(1.1);
  color: #222222;
}
.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 0;
}
.container {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
.color_heading {
  color: #a16ae8;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  font-family: Montserrat, serif;
}
.logo img {
  max-width: 125px;
}
.logo {
  text-align: center;
}
.verdonna {
  color: #e784d8;
  font-weight: 600;
  margin-top: -4px;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}
.large_nav {
  display: none;
}
.large_nav a {
  margin: 10px;
}
.bar {
  width: 35px;
  background-color: #a16ae8;
  height: 3px;
  margin: 0.1em;
}
.hamburger > .small_nav {
  display: none;
}
.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburger a {
  text-decoration: none;
  color: #222222;
  margin-bottom: 2px;
  margin-top: 1em;
}
.hamburger a:hover {
  color: #e784d8;
}
.promo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  justify-content: center;
  margin-top: 40px;
}
#slide {
  max-width: 100%;
}
.left {
  display: grid;
  justify-self: start;
}
.center {
  display: grid;
  justify-self: center;
}
.left_side {
  display: grid;
  justify-items: center;
  align-content: start;
}
.left_side p {
  max-width: 15em;
}
.galleries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  margin-top: 2em;
}
.j_button {
  display: grid;
  justify-self: right;
}
.galleries img {
  width: 100%;
}
.bio {
  margin: 10px;
}
.dedication {
  display: flex;
  font-size: 0.8em;
  max-width: 80ch;
  align-items: end;
  align-items: end;
  font-family: Montserrat sans-serif;
}
.dedication img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  max-width: 80px;
}
.footer {
  margin-top: 3em;
  margin-bottom: 3em;
}
.footer_logo {
  max-width: 80px;
}
@media screen and (min-width: 687px) {
  .hamburger {
    display: none;
  }
  .large_nav {
    display: block;
  }
}
#slides {
  display: none;
}
